.child h3{
    font-size: 11pt;
}

.zagolovok{
    margin: 20px auto; 
}

.stroka{
    height: 50px;
    width: 100%;
}

.child{
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chek {
    width: 38px;
}
.chek input {
    width: 25px;
    height: 25px;
    margin: 0;
}

.name {
    width: 248px;
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
    width: 225px;
}

.date {
    width: 160px;
}

.checklisttestingprogress {
    widows: 490px;
    margin-left: 20px; 
}

.checklist-items-list-testin-status{
    height: auto;
    padding: 20px;
}