#modalMyPopUp {
  position: fixed;
  top: 16%;
  height: 300px;
  width: 500px;
  z-index: 9999;
  display: none;
  box-shadow: 0 0 30px 4px rgba(0,0,0,0.5); /* Параметры тени */
}

#conteinerMy, .conteinerMy{
  height: 100%;
  width: 100%;
}

.child{
  height: 100%;
  float: left;
}

.name {
  width: 225px;
}

.date {
  width: 160px;
}

.checklisttestingprogress {
  widows: 490px;
  margin-left: 20px; 
}

.checklist-items-list-testin-status{
  height: auto;
  padding: 20px;
}