#testStatistics-popup{
  position: fixed;
  top: 16%;
  min-height: 400px;
  width: 500px;
  z-index: 9999;
  display: none;
 box-shadow: 0 0 30px 4px rgba(0,0,0,0.5);
}

#testStatistics-navigation{
  height: 50px;
}

#testStatistics-popup div {
  min-height: 20px;
}

#testStatistics-head h3{
  margin: 0;
  text-align: center;
  padding-top: 10px 
}

#testStatistics-content{
  padding: 20px;
}

.t-navigation{
  width: 100px;
  height: 50px;
  float: left;
}

.t-navigation img {
  margin-top: 5%;
  margin-left:25px; 
  height: 95%;
}

.t-content{
  max-height: 400px;
}

#content-review, #content-member, #content-stand, #content-autotest {
  display: none;
}

.t-button{
  width: 49%;
  border: 0px;
  margin:0;
}

.c-checkbox{
  width: 10%;
}

#content-time input{
  margin-top:0px;
  width: 44%; 
  margin-bottom: 0px;
  padding: 0px;
  margin-right: 40px;
  float: right;
}

.c-t-children{
  margin-left:10px;
  float: left;
}

.c-t-str{
  padding: 0;
}