<div id="testStatistics-popup" class="window">
    <div id="testStatistics-navigation">
        <div class="t-time t-navigation" v-on:click="switchPage('#content-time')">
            <img v-bind:src="url[0].contentTime" alt="Сроки">
        </div>
        <div class="t-review t-navigation" v-on:click="switchPage('#content-review')">
                <img v-bind:src="url[0].contentReview" alt="Ревью">
        </div>
        <div class="t-member t-navigation" v-on:click="switchPage('#content-member')">
            <img v-bind:src="url[0].contentMember" alt="Участники">
        </div>
        <div class="t-stand t-navigation" v-on:click="switchPage('#content-stand')">
            <img v-bind:src="url[0].contentStand" alt="Тачки">
        </div>
        <div class="t-autotest t-navigation" v-on:click="switchPage('#content-autotest')">
            <img v-bind:src="url[0].contentAutotest" alt="Автотесты">
        </div>
    </div>
    <div id="testStatistics-head">
        <h3>Заголовок</h3>
    </div>
    <div id="testStatistics-content">
        <div id="content-time" class="t-content">
            <div class="checklist-items-list ui-sortable">
                <div id="firstStepTesting" class="checklist-item">
                    <div id="first-checkbox" class="checklist-item-checkbox enabled c-checkbox">
                        <span v-on:click="check(firstStepTesting)" class="icon-sm icon-check checklist-item-checkbox-check"></span>
                    </div>
                    <div class="checklist-item-details non-empty" attr="name">
                        <div class="checklist-item-row hide-on-edit c-t-str">
                            <span class="checklist-item-details-text markeddown c-t-children">{{firstStepTesting[0].Title}}</span>
                            <input v-model="firstStepTesting[1].Time" id="date-time-input-firstTime" class="c-t-children datepicker-select-input" type="datetime-local" >
                        </div>
                    </div>
                </div>
                <div id="secondStepTesting" class="checklist-item">
                    <div class="checklist-item-checkbox enabled c-checkbox">
                        <span v-on:click="check(secondStepTesting)" class="icon-sm icon-check checklist-item-checkbox-check"></span>
                    </div>
                    <div class="checklist-item-details non-empty" attr="name">
                        <div class="checklist-item-row hide-on-edit c-t-str">
                            <span class="checklist-item-details-text markeddown c-t-children">{{secondStepTesting[0].Title}}</span>
                            <input v-model="secondStepTesting[1].Time" id="date-time-input-secondTime" class="c-t-children datepicker-select-input" type="datetime-local">
                        </div>
                    </div>
                </div>
                <div id="thirdStepTesting"  class="checklist-item">
                    <div class="checklist-item-checkbox enabled c-checkbox">
                        <span v-on:click="check(thirdStepTesting)" class="icon-sm icon-check checklist-item-checkbox-check"></span>
                    </div>
                    <div class="checklist-item-details non-empty" attr="name">
                        <div class="checklist-item-row hide-on-edit c-t-str">
                            <span class="checklist-item-details-text markeddown c-t-children">{{thirdStepTesting[0].Title}}</span>
                            <input v-model="thirdStepTesting[1].Time" id="date-time-input-thirdTime" class="c-t-children datepicker-select-input" type="datetime-local">
                            </div>
                    </div>
                </div>
                <div id="fourthStepTesting"  class="checklist-item">
                    <div class="checklist-item-checkbox enabled c-checkbox">
                        <span v-on:click="check(fourthStepTesting)" class="icon-sm icon-check checklist-item-checkbox-check"></span>
                    </div>
                    <div class="checklist-item-details non-empty" attr="name">
                        <div class="checklist-item-row hide-on-edit c-t-str">
                            <span class="checklist-item-details-text markeddown c-t-children">{{fourthStepTesting[0].Title}}</span>
                            <input v-model="fourthStepTesting[1].Time" id="date-time-input-fourthTime" class="c-t-children datepicker-select-input" type="datetime-local">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content-review" class="t-content">
            2
        </div>
        <div id="content-member" class="t-content">
            3
        </div>
        <div id="content-stand" class="t-content">
            4
        </div>
        <div id="content-autotest" class="t-content">
            5
        </div>
    </div>
    <div id="testStatistics-buttonsPanel">
        <button v-on:click="saved" id="testStatistics-saved" class="t-button">Saved</button>
        <button id="testStatistics-cancel" class="t-button">Cancel</button>
    </div>
    <div id="testStatistics-summary">
    </div>
</div>